USE [master]
GO
/****** Object:  Database [ADMINEQUIPOS]    Script Date: 28-01-2024 13:09:18 ******/
CREATE DATABASE [ADMINEQUIPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADMINEQUIPOS', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\ADMINEQUIPOS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ADMINEQUIPOS_log', FILENAME = N'G:\sql\MSSQL12.SQLEXPRESS\MSSQL\DATA\ADMINEQUIPOS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADMINEQUIPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADMINEQUIPOS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[APLICACION]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APLICACION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMUNA]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMUNA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_REGION] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NOMBRECOMUNA_UK] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DADODEBAJA]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DADODEBAJA](
	[ID_DISPOSITIVO] [int] NOT NULL,
	[ID_MOTIVO] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISPOISITIVO_APLICACION]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPOISITIVO_APLICACION](
	[ID_DISPOSITIVO] [int] NOT NULL,
	[ID_APLICACION] [int] NOT NULL,
	[FECHA_INSTALACION] [datetime] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISPOSITIVO]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISPOSITIVO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPODISPOSITIVO] [varchar](200) NOT NULL,
	[CPU] [varchar](100) NOT NULL,
	[DISCO_DURO] [varchar](100) NOT NULL,
	[RAM] [varchar](200) NOT NULL,
	[ID_OFICINA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONITOREO_DISP_APP]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONITOREO_DISP_APP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DISPOSITIVO_APP] [int] NOT NULL,
	[ESTADO_CPU] [varchar](100) NOT NULL,
	[ESTADO_RAM] [varchar](100) NOT NULL,
	[ESTADO_DISCODURO] [varchar](100) NOT NULL,
	[ESTADO_APLICACION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MOTIVO]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MOTIVO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OFICINA]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OFICINA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMUNA] [int] NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NOMBREOFICINA_UK] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 28-01-2024 13:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [NOMBRE_REGION_UK] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[COMUNA]  WITH CHECK ADD  CONSTRAINT [ID_REGION_FK] FOREIGN KEY([ID_REGION])
REFERENCES [dbo].[REGION] ([ID])
GO
ALTER TABLE [dbo].[COMUNA] CHECK CONSTRAINT [ID_REGION_FK]
GO
ALTER TABLE [dbo].[DADODEBAJA]  WITH CHECK ADD  CONSTRAINT [ID_DISPOSITVO_BAJA_FK] FOREIGN KEY([ID_DISPOSITIVO])
REFERENCES [dbo].[DISPOSITIVO] ([ID])
GO
ALTER TABLE [dbo].[DADODEBAJA] CHECK CONSTRAINT [ID_DISPOSITVO_BAJA_FK]
GO
ALTER TABLE [dbo].[DADODEBAJA]  WITH CHECK ADD  CONSTRAINT [ID_DISPOSITVO_MOTIVO_FK] FOREIGN KEY([ID_MOTIVO])
REFERENCES [dbo].[MOTIVO] ([ID])
GO
ALTER TABLE [dbo].[DADODEBAJA] CHECK CONSTRAINT [ID_DISPOSITVO_MOTIVO_FK]
GO
ALTER TABLE [dbo].[DISPOISITIVO_APLICACION]  WITH CHECK ADD  CONSTRAINT [ID_DISPOSITVO_APLICACION_FK] FOREIGN KEY([ID_DISPOSITIVO])
REFERENCES [dbo].[DISPOSITIVO] ([ID])
GO
ALTER TABLE [dbo].[DISPOISITIVO_APLICACION] CHECK CONSTRAINT [ID_DISPOSITVO_APLICACION_FK]
GO
ALTER TABLE [dbo].[DISPOISITIVO_APLICACION]  WITH CHECK ADD  CONSTRAINT [ID_DISPOSITVO_APLICACIONES_FK] FOREIGN KEY([ID_APLICACION])
REFERENCES [dbo].[APLICACION] ([ID])
GO
ALTER TABLE [dbo].[DISPOISITIVO_APLICACION] CHECK CONSTRAINT [ID_DISPOSITVO_APLICACIONES_FK]
GO
ALTER TABLE [dbo].[DISPOSITIVO]  WITH CHECK ADD  CONSTRAINT [ID_OFICINA_FK] FOREIGN KEY([ID_OFICINA])
REFERENCES [dbo].[OFICINA] ([ID])
GO
ALTER TABLE [dbo].[DISPOSITIVO] CHECK CONSTRAINT [ID_OFICINA_FK]
GO
ALTER TABLE [dbo].[MONITOREO_DISP_APP]  WITH CHECK ADD  CONSTRAINT [ID_DISPOSITIVO_FK] FOREIGN KEY([ID_DISPOSITIVO_APP])
REFERENCES [dbo].[DISPOISITIVO_APLICACION] ([ID])
GO
ALTER TABLE [dbo].[MONITOREO_DISP_APP] CHECK CONSTRAINT [ID_DISPOSITIVO_FK]
GO
ALTER TABLE [dbo].[OFICINA]  WITH CHECK ADD  CONSTRAINT [ID_COMUNA_FK] FOREIGN KEY([ID_COMUNA])
REFERENCES [dbo].[COMUNA] ([ID])
GO
ALTER TABLE [dbo].[OFICINA] CHECK CONSTRAINT [ID_COMUNA_FK]
GO
ALTER TABLE [dbo].[DISPOSITIVO]  WITH CHECK ADD  CONSTRAINT [TIPODISPOSITIVO_CHECK] CHECK  (([TIPODISPOSITIVO]='servidor' OR [TIPODISPOSITIVO]='impresora' OR [TIPODISPOSITIVO]='pc' OR [TIPODISPOSITIVO]='celular'))
GO
ALTER TABLE [dbo].[DISPOSITIVO] CHECK CONSTRAINT [TIPODISPOSITIVO_CHECK]
GO
USE [master]
GO
